<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
<h1>Modul pro správu objednávek a dodacích listů</h1>
<p>Jedná se o modul pro správu objednávek a dodacích listů. Seznam objednávek lze najít na
	<a n:href="Order:default">této stránce</a>.</p>
</body>
</html>