<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">

	<!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

	<!-- Use this css for ajax spinners -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">

	<!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-select/dist/css/bootstrap-select.css">
	<script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
	<script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
	<script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/bower_components/happy/dist/happy.js"></script>
	<script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
	<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>
	<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
	<script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
	<script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="{$basePath}/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script>
		$.nette.init();
	</script>
</head>

<body>
<h1></h1>
	{form addForm}
		<ul>
			<li>{label companyid}</li>
			<li>{input companyid} {inputError companyid}</li>
			<li>{label companyordernumber}</li>
			<li>{input companyordernumber} {inputError companyordernumber}</li>
			<li>{label ordertype}</li>
			<li>{input ordertype} {inputError ordertype}</li>
			<li>{label orderfile}</li>
			<li>{input orderfile} {inputError orderfile}</li>
			<li>{input addOrder}</li>
		</ul>
	{/form}
</body>
</html>